body {
	color: white;
	font-family: 'Cabin', sans-serif;
	background-color: #111111;
}

.self {
	margin: 0 auto;
	height: 100%;
	width: auto;
}

.self img { 
	height: 100%;
}

/*
.main-img {
	width: 350px; 
	height: auto; 
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

h1 {
	text-align: center;
	font-size: 5em;
}

h2 {
	padding-top: 40px;
}
*/